<div class="container-fluid my-container">
  <div class="row">
    <div class="col-sm-12 col-dm-4 col-lg-3">
      <div class="card bg-info" style="width: 18rem;">
        <img src="./assets/img/cursos2.png" class="card-img-top" alt="Cursos">
        <div class="card-body">
          <h5 class="card-title">Cursos</h5>
          <p class="card-text">Seja qual for o tratamento escolhido, ele deve começar por um item fundamental, cloro de
            qualidade. Agende um dos nossos cursos e aprenda dicas valiosas para manter a sua piscina saudável.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-dm-4 col-lg-3">
      <div class="card bg-info" style="width: 18rem;">
        <img src="./assets/img/cloro2.png" class="card-img-top" alt="Cloro">
        <div class="card-body">
          <h5 class="card-title">Cloro</h5>
          <p class="card-text">Líder no Brasil e no mundo, a HTH desenvolve produtos de qualidade comprovada para tratar
            piscinas em todo o mundo! </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-dm-4 col-lg-3">
      <div class="card bg-info" style="width: 18rem;">
        <img src="./assets/img/cuidados.jpg" class="card-img-top" alt="Cuidados">
        <div class="card-body">
          <h5 class="card-title">Cuidados</h5>
          <p class="card-text">O fim de ano rendeu muitas festas na piscina. Mas é preciso lembrar que agora a água
            precisa de atenção. O ideal é usar Cloro Granulado. Ele mata as bactérias, deixando a água purificada e
            pronta para uso. </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-dm-4 col-lg-3">
      <div class="card bg-info" style="width: 18rem;">
        <img src="./assets/img/piscina2.png" class="card-img-top" alt="Aspirador">
        <div class="card-body">
          <h5 class="card-title">Aspirador</h5>
          <p class="card-text">Líder no Brasil e no mundo, a HTH desenvolve produtos de qualidade comprovada para tratar
            piscinas em todo o mundo! </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: Container -->
